
{% extends 'base.html' %}
{% block content %}

<script>
$(document).ready(function() {
  $("button").click(function(btn) {
    let game_id = $(this).data("odds-id");
    let team = $(this).data("team");
    location.href="/mlb_selection/" + game_id + '?side=' + team;
  })
})
</script>

<h1>Upcoming Games:</h1>


{% for match in matches %}
{% if match.game.game_date > now %}
  <p>
    {{ match.game.game_date }} <br> 
    <button type="button" class="btn btn-outline-primary" data-odds-id='{{match.odds_id}}' data-team='away'>
      {{ match.game.team_away_name }} {{ match.moneyline_away}}
    </button> 
    at 
    <button type="button" class="btn btn-outline-primary" data-odds-id='{{match.odds_id}}' data-team='home'>
      {{ match.game.team_home_name }} {{ match.moneyline_home}}
    </button>   
  </p>
{% endif %}
{% endfor %}

{% endblock %}

